<% layout('../layouts/main') %>

<h1>Adventures</h1>

<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>System</th>
			<th>Campaign</th>
			<th>Setting</th>
			<th>Created</th>
			<th>Modified</th>
		</tr>
	</thead>
	<tbody>
		<% it.data.forEach(item => { %>
			<tr>
				<td><a href="<%= item.slug %>"><%= item.title %></a></td>
				<td>
					<% if(item.system) { %>
						<a href="<%= item.system.slug %>"><%= item.system.title %></a>
					<% } else { %>—<% } %>
				</td>
				<td>
					<% if(item.campaign) { %>
						<a href="<%= item.campaign.slug %>"><%= item.campaign.title %></a>
					<% } else { %>—<% } %>
				</td>
				<td><%= item.setting %></td>
				<td>
					<time datetime="<%= item.created.toISOString() %>">
						<%= item.created.toLocaleDateString() %>
					</time>
				</td>
				<td>
					<time datetime="<%= item.modified.toISOString() %>">
						<%= item.modified.toLocaleDateString() %>
					</time>
				</td>
			</tr>
		<% }) %>
	</tbody>
</table>
